*.db
*.user
*.opendb
Debug/
Release/
.DS_Store
*xcuserdatad*
*.xccheckout
*.stackdump
.vs
Chapter14/Assets/Saved.gplevel
Chapter14/Assets/*.bin
External/FMOD
/Chapter02/Game.exe
/Chapter01/Game.exe
/Chapter04/Game.exe
/Chapter03/Game.exe
